body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

.container {
	background-color: #222;
	width: 700px;
	height: 500px;
}

.pin {
	position: absolute;
	background-color: skyblue;
}